<div data-item-id="<%= item._id %>" data-price="<%= item.product.price %>" class="cart-item rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:p-6">
    <div class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0">
        <a href="#" class="shrink-0 md:order-1">
            <img class="h-28 w-28 dark:hidden" src="<%= item.product.images[0] %>" alt="<%= item.product.name %>" />
        </a>
        <label for="counter-input" class="sr-only">Choose quantity:</label>
        <div class="quantity-buttons flex items-center justify-between md:order-3 md:justify-end">
            <div class="flex items-center">
                <button type="button" id="decrement-button" data-input-counter-decrement="counter-input"
                    class="quantity-decrease inline-flex h-5 w-5 shrink-0 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
                    <i class="fas fa-minus"></i>
                </button>
                <input type="text" id="counter-input" data-input-counter
                    class="quantity-input w-10 shrink-0 border-0 bg-transparent text-center text-sm font-medium text-gray-900 focus:outline-none focus:ring-0 dark:text-white"
                    placeholder="" value="<%= item.quantity %>" required />
                <button type="button" id="increment-button" data-input-counter-increment="counter-input"
                    class="quantity-increase inline-flex h-5 w-5 shrink-0 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            <div class="text-end md:order-4 md:w-32">
                <p class="text-base font-bold text-gray-900 dark:text-white" id="price-<%= item._id %>">$<%= item.currentPrice.toFixed(2) %></p>
            </div>
        </div>
        <div class="w-full min-w-0 flex-1 space-y-4 md:order-2 md:max-w-md">
            <div>
                <a href="#" class="text-base font-medium text-gray-900 hover:underline dark:text-white"><%= item.product.name %></a>
                <p class="text-sm text-gray-500"><%= item.grindType %></p>
            </div>

            <div class="flex items-center gap-4">
                <div>
                    <select class="grindType-selector rounded border-gray-300 focus-visible:outline-none">
                        <option value="В зернах" <%= item.grindType === 'В зернах' ? 'selected' : '' %>>В зернах</option>
                        <option value="Молотый" <%= item.grindType === 'Молотый' ? 'selected' : '' %>>Молотый</option>
                    </select>
                </div>
                <div>
                    <select class="weight-selector rounded border-gray-300 focus-visible:outline-none">
                        <option value="250" <%= item.weight === 250 ? 'selected' : '' %>>250 г</option>
                        <option value="1000" <%= item.weight === 1000 ? 'selected' : '' %>>1000 г</option>
                    </select>
                </div>
            </div>
            <div class="flex items-center gap-4">
                <button type="button" data-product-id="<%= item.product._id %>"
                    class="favorite-btn inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-900 hover:underline dark:text-gray-400 dark:hover:text-white">
                    <% if (user && user.favorites && user.favorites.includes(item.product._id.toString())) { %>
                        <img src="../img/fav-red-ic.svg" id="fav-red-ic" alt="Favourite"
                            class="w-4 h-4 invert-0 hover:invert-25 duration-300 mx-1">
                            Удалить из избранного
                        <% } else { %>
                            <img src="../img/fav-white-ic.svg" id="fav-white-ic" alt="Favourite"
                                class="w-4 h-4 invert-0 hover:invert-25 duration-300 mx-1">
                                Добавить в избранное
                            <% } %>
                </button>
                <button type="button"
                    class="remove-cart-item inline-flex items-center text-sm font-medium text-red-600 hover:underline dark:text-red-500">
                    <svg class="me-1.5 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M6 18 17.94 6M18 18 6.06 6" />
                    </svg>
                    Удалить
                </button>
            </div>
        </div>
    </div>
</div>