<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoffeeShop</title>
    <link rel="stylesheet" href="../assets/styles.css">
    <script src="https://kit.fontawesome.com/d54d69edca.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('header'); %>

        <section data-product-id="<%= product.id %>" data-price="<%= product.price %>"
            class="product-overview text-gray-600 body-font overflow-hidden" style="min-height: calc(100svh - 220px) ;">
            <div class="container px-5 py-24 mx-auto">
                <div class="lg:w-4/5 mx-auto flex flex-wrap">
                    <div>
                        <a href="/" class="text-gray-700 hover:text-gray-900">Главная</a>
                        <span class="mx-2">/</span>
                    </div>
                    <div>
                        <a href="/shop" class="text-gray-700 hover:text-gray-900">Кофе</a>
                        <span class="mx-2">/</span>
                    </div>
                    <div>
                        <a href="/product/<%= product.id %>" class="text-gray-700 hover:text-gray-900">
                            <%= product.name %>
                        </a>
                    </div>
                </div>
                <div class="lg:w-4/5 mx-auto flex flex-wrap">
                    <img class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
                        src="../<%= product.images[0] %>" alt="<%= product.name %>">
                    <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                        <h2 class="text-sm title-font text-gray-500 tracking-widest">
                            <%= product.options.grindType %>
                        </h2>
                        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
                            <%= product.name %>
                        </h1>
                        <div class="flex mb-4">
                            <span class="flex items-center">
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-amber-600"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
                                    </path>
                                </svg>
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-amber-600"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
                                    </path>
                                </svg>
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-amber-600"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
                                    </path>
                                </svg>
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-amber-600"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
                                    </path>
                                </svg>
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-4 h-4 text-amber-600" viewBox="0 0 24 24">
                                    <path
                                        d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
                                    </path>
                                </svg>
                                <span class="text-gray-600 ml-3">4 Звезды</span>
                            </span>
                            <span class="flex ml-3 pl-3 py-2 border-l-2 border-gray-200 space-x-2s">
                                <a class="text-gray-500">
                                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                                    </svg>
                                </a>
                                <a class="text-gray-500">
                                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                        <path
                                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                                        </path>
                                    </svg>
                                </a>
                                <a class="text-gray-500">
                                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                        <path
                                            d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                        </path>
                                    </svg>
                                </a>
                            </span>
                        </div>
                        <p class="leading-relaxed">
                            <%= product.description %>
                        </p>
                        <div class="flex mt-6 items-center pb-5 mb-5">
                            <div class="relative pt-1 ml-1 mr-10">
                                <div class="overflow-hidden h-2 mb-3 text-xs flex rounded bg-gray-200 min-w-64">
                                    <div style="width:30%"
                                        class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-gray-950">
                                    </div>
                                </div>
                                <p class="text-xs text-gray-500 dark:text-gray-400">Кислотность</p>
                            </div>
                            <div class="relative pt-1 mr-1">
                                <div class="overflow-hidden h-2 mb-3 text-xs flex rounded bg-gray-200 min-w-64">
                                    <div style="width:70%"
                                        class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-gray-950">
                                    </div>
                                </div>
                                <p class="text-xs text-gray-500 dark:text-gray-400">Плотность</p>
                            </div>
                        </div>
                        <div class="flex justify-between items-center mt-6 pb-5 border-b-2 border-gray-100 mb-5">
                            <div class="flex">
                                <div class="mr-10">
                                    <select
                                        class="grindType-selector rounded border-gray-300 focus-visible:outline-none">
                                        <option>В зернах</option>
                                        <option>Молотый</option>
                                    </select>
                                </div>
                                <div class="mr-10">
                                    <span>г</span>
                                    <select class="weight-selector rounded border-gray-300 focus-visible:outline-none">
                                        <option>250</option>
                                        <option>1000</option>
                                    </select>
                                </div>
                            </div>
                            <div class="inline-flex items-center">
                                <button
                                    class="quantity-decrease text-gray-500 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <p class="quantity mx-1 text-center w-8 text-xl">1</p>
                                <button
                                    class="quantity-increase text-gray-500 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="flex">
                            <div>
                                <span class="title-font font-medium text-2xl text-gray-900">$<%= product.price %></span>
                                <p class="text-sm text-gray-700 dark:text-gray-50">Скидка <%= product.discount %>%</p>
                            </div>
                            <button data-product-id="<%= product._id %>" data-user-id="<%= user ? user._id : '' %>"
                                class="add-to-cart-btn flex ml-auto text-white bg-amber-700 border-0 py-2 px-6 focus:outline-none hover:bg-amber-950 rounded h-10 my-auto">
                                Купить
                            </button>
                            <button data-product-id="<%= product._id %>"
                                class="favorite-btn rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4 my-auto">
                                <% if (user && user.favorites && user.favorites.includes(product._id.toString())) { %>
                                    <img src="../img/fav-red-ic.svg" id="fav-red-ic" alt="Favourite"
                                        class="w-6 h-6 invert-0 hover:invert-25 duration-300">
                                    <% } else { %>
                                        <img src="../img/fav-white-ic.svg" id="fav-white-ic" alt="Favourite"
                                            class="w-6 h-6 invert-0 hover:invert-25 duration-300">
                                        <% } %>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('no_auth_popup'); %>

            <%- include('footer'); %>

                <script src="../assets/js/favotire_btn.js"></script>

                <script src="../assets/js/hover_profile.js"></script>

                <script>
                    document.addEventListener('DOMContentLoaded', () => {
                        const productId = document.querySelector(".product-overview").dataset.productId;
                        const quantityElement = document.querySelector(".quantity");
                        const grindTypeSelector = document.querySelector(".grindType-selector");
                        const weightSelector = document.querySelector(".weight-selector");
                        const basePrice = parseInt(document.querySelector(".product-overview").dataset.price);


                        document.querySelector(".quantity-decrease").addEventListener("click", () => {
                            let quantity = parseInt(quantityElement.textContent);
                            if (quantity > 1) {
                                quantityElement.textContent = quantity - 1;
                            }
                            console.log("Decrease: " + quantity);
                        });

                        document.querySelector(".quantity-increase").addEventListener("click", () => {
                            let quantity = parseInt(quantityElement.textContent);
                            quantityElement.textContent = quantity + 1;
                            console.log("Increase: " + quantity);
                        });

                        document.querySelector(".add-to-cart-btn").addEventListener("click", () => {
                            // Check if the user is authenticated
                            console.log("USER ID " + document.querySelector(".add-to-cart-btn").dataset.userId);
                            if (document.querySelector(".add-to-cart-btn").dataset.userId !== undefined) {
                                const grindType = grindTypeSelector.value;
                                const weight = weightSelector.value;
                                const quantity = parseInt(quantityElement.textContent);

                                const currentPrice = (basePrice * parseInt(weight) / 250) * quantity;

                                fetch("/add-to-cart", {
                                    method: "POST",
                                    headers: {
                                        "Content-Type": "application/json",
                                        Accept: "application/json",
                                    },
                                    body: JSON.stringify({ productId, grindType, weight, quantity, currentPrice }),
                                })
                                    .then((response) => response.json())
                                    .then((data) => {
                                        if (data.success) {
                                            // Обновите UI корзины или покажите сообщение об успехе
                                            console.log("Товар добавлен в корзину");
                                        }
                                    })
                                    .catch((error) => console.error("Error:", error));
                            } else {
                                // User is not authenticated, show the login pop-up
                                const loginPopup = document.getElementById("login-popup");
                                loginPopup.classList.remove("hidden");

                                // Hide the pop-up after 5 seconds
                                setTimeout(() => {
                                    loginPopup.classList.add("hidden");
                                }, 5000);
                            }
                        });
                    });

                </script>
</body>

</html>