<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoffeeShop</title>
    <link rel="stylesheet" href="../assets/styles.css">
    <script src="https://kit.fontawesome.com/d54d69edca.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('header'); %>

        <section class="body-font overflow-hidden bg-gray-100 py-5">
            <div class="flex justify-between mx-72">
                <div class="flex items-center justify-center p-4" style="flex-direction: column;">
                    <button id="dropdownDefault" data-dropdown-toggle="dropdown"
                        class="text-amber-700 hover:text-amber-950 border-amber-700 border-2 hover:border-amber-950 focus:outline-none font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-primary-600 dark:hover:bg-primary-700"
                        type="button">
                        Цена
                        <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    <div id="dropdown" class="z-10 w-56 p-3 bg-white rounded-lg shadow dark:bg-gray-700 absolute top-48 hidden">
                        <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">
                            Цена
                        </h6>
                        <ul class="space-y-2 text-sm" aria-labelledby="dropdownDefault">
                            <li class="flex items-center">
                                <input id="apple" type="checkbox" value=""
                                    class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
    
                                <label for="apple" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                                    По возрастанию
                                </label>
                            </li>
    
                            <li class="flex items-center">
                                <input id="fitbit" type="checkbox" value=""
                                    class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
    
                                <label for="fitbit" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                                    По убыванию
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex items-center justify-center p-4" style="flex-direction: column;">
                    <button id="dropdownDefault" data-dropdown-toggle="dropdown"
                        class="text-amber-700 hover:text-amber-950 border-amber-700 border-2 hover:border-amber-950 focus:outline-none font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-primary-600 dark:hover:bg-primary-700"
                        type="button">
                        Цена
                        <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    <div id="dropdown" class="z-10 w-56 p-3 bg-white rounded-lg shadow dark:bg-gray-700 absolute top-48 hidden">
                        <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">
                            Цена
                        </h6>
                        <ul class="space-y-2 text-sm" aria-labelledby="dropdownDefault">
                            <li class="flex items-center">
                                <input id="apple" type="checkbox" value=""
                                    class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
    
                                <label for="apple" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                                    По возрастанию
                                </label>
                            </li>
    
                            <li class="flex items-center">
                                <input id="fitbit" type="checkbox" value=""
                                    class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
    
                                <label for="fitbit" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                                    По убыванию
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex items-center justify-center p-4" style="flex-direction: column;">
                    <button id="dropdownDefault" data-dropdown-toggle="dropdown"
                        class="text-amber-700 hover:text-amber-950 border-amber-700 border-2 hover:border-amber-950 focus:outline-none font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-primary-600 dark:hover:bg-primary-700"
                        type="button">
                        Цена
                        <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    <div id="dropdown" class="z-10 w-56 p-3 bg-white rounded-lg shadow dark:bg-gray-700 absolute top-48 hidden">
                        <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">
                            Цена
                        </h6>
                        <ul class="space-y-2 text-sm" aria-labelledby="dropdownDefault">
                            <li class="flex items-center">
                                <input id="apple" type="checkbox" value=""
                                    class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
    
                                <label for="apple" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                                    По возрастанию
                                </label>
                            </li>
    
                            <li class="flex items-center">
                                <input id="fitbit" type="checkbox" value=""
                                    class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
    
                                <label for="fitbit" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                                    По убыванию
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex items-center justify-center p-4" style="flex-direction: column;">
                    <button id="dropdownDefault" data-dropdown-toggle="dropdown"
                        class="text-amber-700 hover:text-amber-950 border-amber-700 border-2 hover:border-amber-950 focus:outline-none font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-primary-600 dark:hover:bg-primary-700"
                        type="button">
                        Цена
                        <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    <div id="dropdown" class="z-10 w-56 p-3 bg-white rounded-lg shadow dark:bg-gray-700 absolute top-48 hidden">
                        <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">
                            Цена
                        </h6>
                        <ul class="space-y-2 text-sm" aria-labelledby="dropdownDefault">
                            <li class="flex items-center">
                                <input id="apple" type="checkbox" value=""
                                    class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
    
                                <label for="apple" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                                    По возрастанию
                                </label>
                            </li>
    
                            <li class="flex items-center">
                                <input id="fitbit" type="checkbox" value=""
                                    class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
    
                                <label for="fitbit" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                                    По убыванию
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>

        <section class="text-gray-600 body-font">
            <div class="container px-5 py-10 mx-auto pb-20">
                <div class="flex flex-wrap w-full mb-10 md:px-0 lg:px-24">
                    <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                        <h1 class="sm:text-2xl text-xl font-medium title-font mb-2 text-gray-900">КАТАЛОГ КОФЕ</h1>
                        <div class="h-1 w-20 bg-amber-700 rounded"></div>
                    </div>
                </div>
                <div class="flex flex-wrap -m-4">

                    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
                        <div class="md:gap-6 lg:flex lg:items-start xl:gap-8">
                            <div class="mx-auto w-full flex-none">
                                <div class="hidden xl:mt-8 xl:block">
                                    <div class="mt-6 grid grid-cols-3 gap-20 sm:mt-8">

                                        <%- include('card_block'); %>
                                            <%- include('card_block'); %>
                                                <%- include('card_block'); %>
                                                    <%- include('card_block'); %>
                                                        <%- include('card_block'); %>
                                                            <%- include('card_block'); %>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <%- include('footer'); %>

            <script src="../assets/js/sort_filter.js"></script>
</body>

</html>